{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    {{ 'Calendar'|trans }}
{% endblock %}

{% block main %}
    {{ include('admin/calendar/_event_choice.html.twig', {events: events, event: event ?? null}, with_context = false) }}

    <hr>

    <div class="alert alert-info">
        <i class="fas fa-arrow-up"></i> {{ 'calendar.infobox.choose_an_event'|trans }}
    </div>
{% endblock %}
